.tasks-filter {
  padding: 0 15px;

  .period {
    float: right;
    display: inline-block;
    padding: 0 35px 0 25px;
  }

  .select-month {
    float: right;
    display: inline-block;
    padding: 0 15px 0 0;
  }

}